.app-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.header h2 {
  font-size: 35px;
  color: #630edb;
  font-family: "Bebas Neue", cursive;
}

.excercise-container h4 {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 40px;
}

.details-container {
  background-color: white;
  padding: 20px;
}
